# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# TLS Certificates and Keys
*.crt
*.key
*.pem
*.jks
*.pkcs12
*.cer

# idea directory (keep ide settings from getting overwritten)
.idea/
.idea/encodings.xml
